@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 192, 203; /* Pink foreground color */
  --background-start-rgb: 255, 105, 180; /* Light pink background start color */
  --background-end-rgb: 255, 20, 147; /* Dark pink background end color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White foreground color */
    --background-start-rgb: 102, 51, 102; /* Darker background start color */
    --background-end-rgb: 51, 0, 51; /* Even darker background end color */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  position: relative;
  overflow: hidden; /* Ensure the circles don't overflow the body */
}

/* Define the circles */
.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  border-radius: 50%;
  animation: moveCircles 3s linear infinite; /* Apply animation to all circles */
}

/* Define different circles with different positions */
.circle::before,
.circle::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  border-radius: 50%;
}

.circle1::before {
  top: 10%;
  left: 20%;
  animation-delay: 0s; /* Delay the animation for this circle */
}

.circle2::before {
  top: 20%;
  left: 50%;
  animation-delay: 1s; /* Delay the animation for this circle */
}

.circle3::before {
  top: 30%;
  left: 80%;
  animation-delay: 2s; /* Delay the animation for this circle */
}

/* Keyframes for moving circles */
/* Add bouncing effect to the circles */
@keyframes moveCircles {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, 50px); /* Adjust the bouncing distance */
  }
  100% {
    transform: translate(0, 0);
  }
}

