@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 192, 203; /* Pink foreground color */
  --background-start-rgb: 255, 105, 180; /* Light pink background start color */
  --background-end-rgb: 255, 20, 147; /* Dark pink background end color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White foreground color */
    --background-start-rgb: 102, 51, 102; /* Darker background start color */
    --background-end-rgb: 51, 0, 51; /* Even darker background end color */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    
  }
}
